html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.container {
    flex: 1;
    /* Allows the container to take the remaining space */
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
}